.logo>img{
    height: 100px;
}
.container{
    padding: 15px 15px;
}
.nav-links>a{
    padding-left: 15px;
}
.book-now{
    border: 2px solid orangered;
    background-color: orangered;
    display: inline-block;
    color: white;
    margin-left: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s ease;
}
.book-now:hover{
    cursor: pointer;
    transform: translateY(-5px)
}